# requirements for gnn_image_classification
python = 3.9
jupyterlab = 4.0.11
torch = 2.1.2
torchvision = 0.16.2
torchaudio = 2.1.2
torch_geometric = 2.4.0
pyg_lib = 0.3.1+pt21cu121
torch_scatter = 2.1.2+pt21cu121
torch_sparse = 0.6.18+pt21cu121
torch_cluster = 1.6.3+pt21cu121
torch_spline_conv = 1.2.2+pt21cu121


